.App {
  text-align: center;
  background-image: linear-gradient(to top, #fff9b2, #fffffd);
  font-family: "Source Serif"; 
}


@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
.main{
  display: flex;
  justify-content: flex-start;

  
  
}
.rule{
  border-top: 3px solid #ec3237;
}

.text{
  text-align: justify;
  padding-right: 10px;
}
.foot{
  background-color: #ec3237;
  padding-bottom: 10px;
}

.footer{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 30px;
  color: white;
}

.list{
  margin-right: 10px;
}

.sideline{
  border-right: 2px solid red;
  height: 50px;
  margin-right:5px;
  margin-left: 5px;
}